.container {
    font-size: 13px;
    line-height: 17px;
    max-width: 1264px;
    position: relative;
    text-align: left;
    vertical-align: baseline;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: white;
}

.left-sidebar {
    line-height: 17px;
    width: 164px;
}

.right-sidebar{
    line-height: 17px;
    width: 300px;
}

.content{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 1100px;
    line-height: 17px;
    font-weight: 400;
    font-size: 13px;
    position: relative;
}

.mainbar{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.d-flex{
    margin-bottom: 12px;
}

.posts{
    margin-bottom: 20px;
}

.post-summary{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    text-align: left;
    vertical-align: baseline;
}